/* Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ab93e0;
    color: #333;
    padding: 20px;
}
h1 {
    color: #007BFF;
    margin-bottom: 20px;
    text-align: center;
}
ul {
    list-style-type: square;
    margin-left: 20px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    background-color: #051f46;
    border: #007BFF 1px solid ;
    border-radius: 10%;
    color: white;
}